/.vercel
.vercel/project.json
.vercel/README.txt
.vercel

/public/assets
.env
**/node_modules
.vercel/project.json
package-lock.json
.github/copilot-instructions.md
claude.md
zendrive-sprints/
CLAUDE.md
.gitignore
ZENDRIVE_MASTER.md
