@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-dark dark:text-white font-sans antialiased selection:bg-primary/30 selection:text-white transition-colors duration-300;
  }
}

@layer components {
  .glass-panel {
    @apply backdrop-blur-xl bg-white/70 dark:bg-glass border border-gray-200/50 dark:border-glass-border shadow-xl shadow-gray-200/50 dark:shadow-black/20;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}